.head{text-align:center}
.navbar ul{ display:flex; gap:20px; justify-content:center; list-style:none; padding:0; }
.navbar li a{ text-decoration:none; padding:10px 15px; color:#fff; background:#007bff; border-radius:5px; transition:0.3s; }
.navbar li a:hover, .navbar li a:active{ background:#0056b3; }