body{ font-family: Arial, sans-serif; margin: 40px; }

.font1{ font-family:'Poppins', sans-serif; }
.font2{ font-family:'Roboto', sans-serif; }
.font3{ font-family:'Oswald', sans-serif; }

.size1{ font-size:20px; }
.size2{ font-size:1.5em; }
.size3{ font-size:2rem; }

.left{ text-align:left; }
.center{ text-align:center; }
.right{ text-align:right; }

.underline{ text-decoration:underline; }
.line{ text-decoration:line-through; }
.overline{ text-decoration:overline; }

.upper{ text-transform:uppercase; }
.lower{ text-transform:lowercase; }
.capitalize{ text-transform:capitalize; }

.shadow{ text-shadow:3px 3px 5px gray; font-size:40px; }